@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@200&display=swap');

Body {
  color: white;
}

#Logo {
  position: relative;
}

#Pages {
  font-family: 'Montserrat';
  font-size: 13.5px;
  position: absolute;
  right: 2%;
  top: 2%;
  padding: 3px;
  border: black 5px solid;
  background-color: rgb(238, 239, 247);
}

#welcome {
  font-family: 'Montserrat';
  position: relative;
  text-align: center;
  color: black;
}

#firstdesc {
  font-family: 'Poppins';
  font-weight: 200;
  position: relative;
  left: 5%;
  text-align: center;
  width: 25%;
  color: black;
}

#seconddesc { 
  font-family: 'Poppins';
  font-weight: 200;
  position: absolute;
  top: 35%;
  right: 2.5%;
  text-align: center;
  width: 40%;
  color: black;
}
  
#desc {
  font-family: 'Poppins';
  font-weight: 200;
  font-size: 14.5px;
  position: relative;
  text-align: center;
  color: black;
}

#form {
  font-family: 'Poppins';
  font-weight: 200;
  position: relative;
  left: 5%;
  bottom: 0.5%;
  text-align: center;
  border: black 5px solid;
  width: 25%;
  color: black;
  background-color: #DCDEF7;
}

#back {
  position: absolute;
  left: 45%;
  top: 65%;
}

#contact {
  font-family: 'Poppins';
  font-weight: 200;
  text-align: center;
  position: absolute;
  top: 70%;
  right: 0%;
  left: 0%;
  padding: 10px;
  border-top: black 5px solid;
  background-color: #DCDEF7;
  color: black;
}

a:link {color: #6E2FEC; text-decoration: none;}
a:visited {color: #6E2FEC; text-decoration: none;}
a:hover {color: #DCDEF7; text-decoration: none;}
a:active {color: #DCDEF7; text-decoration: none;}

#pic1 {
  position: absolute;
  top: 70%;
  right: 45%;
}

#pic2 {
  position: absolute;
  top: 36%;
  right: 45%;
}

#pic3 {
  position: absolute;
  top: 40%;
  right: 5%;
}

#deskpic {
  position: absolute;
  top: 104%;
  right: 45%;
}

#chromebookpic {
  position: absolute;
  top: 140%;
  right: 45%;
}

#sublogo {
  position: absolute;
  left: 0.5%;
  bottom: -32%
}