Body {
  background-image: url(backgroundpattern.jpg);
}

#Logo {
  position: relative;
}

#Pages {
  position: absolute;
  right: 2%;
  top: 2%;
  padding: 3px;
  border: black 5px solid;
}

#welcome {
  text-align: center;
}

#desc {
  text-align: center;
}

#form {
  position: absolute;
  left: 25%;
  text-align: center;
  border: black 5px solid;
  width: 50%;
  background-color: #F3EEB1;
}

#back {
  position: absolute;
  left: 45%;
  top: 65%;
}

#pic1 {
  position: absolute;
  top: 35%;
}

#pic2 {
  position: absolute;
  top: 35%;
  right: 0.5%;
}

#pic3 {
  position: absolute;
  left: 42%;
}